<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

    {{#if dice1 = 1}}

    <body>
    <img src="one.png" alt="">  <img src="two.png" alt="">

    
    </body>
<   {{/if}}

</html>